.agendamentos {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  padding-bottom: 0;
}

.agendamentos_titulo {
  padding-top: 1rem;
  font-size: 0.9rem;
  color: gray;
}

.agendamentos_card,
.card_vencimento {
  background-color: #26272b;
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid rgba(128, 128, 128, 0.2);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  flex: 1;
}

.card_info {
  width: 65%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.card_info_status {
  display: flex;
  justify-content: space-between;
}

.editIcon {
  cursor: pointer;
  padding-right: 0.5rem;
  max-height: 3.5vh;
  width: 5vw;
}

.card_servico {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 98%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_artista {
  display: flex;
}

.card_artista_legenda {
  font-size: 0.9rem;
  align-self: center;
  color: gray;
}

.card_data_vencimento {
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}

.delete_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data__entrada {
  font-size: 0.6rem;
  padding-left: 0.5rem;
  line-height: 1.3;
  text-align: left;
}

.data__vencimento{
  line-height: 1.3;
  padding: 1rem;
  padding-left: 0;
  font-size: 0.8rem;
  text-align: left;
  margin-left: -1rem;
}

.deleteIcon {
  width: 5vw;
  max-height: 3.5vh;
  cursor: pointer;
}

.data_vencimento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

/* .card_data__mes {
  font-size: 0.8rem;
}

.card_data__diaMes {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.card_data__diaSemana {
  font-size: 0.8rem;
} */
