.agendamentos{
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
}

.agendamentos_titulo{
    padding-top: 1rem;
    font-size: .9rem;
    color: gray;
}

.agendamentos_card{
    background-color: #26272B;
    border-radius: 10px;
    margin-top: .5rem;
    padding: .5rem;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid rgba(128, 128, 128, .2);
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
    flex: 1;
}

.card_info{
    width: 65%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_info_status{
    display: flex;
    justify-content: space-between;
}

.situacao{
    background-color: rgba(0, 172, 55, .2);
    color: #33ff73;
    border-radius: 10px;
    padding: .1rem .5rem;
    font-size: .8rem;
    align-self: center;
    margin: 0 1rem;
}

.card_servico{
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    max-width: 98%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_artista{
    display: flex;
}


.card_artista_legenda{
    font-size: .9rem;
    align-self: center;
    color: gray;
}

.card_data_vencimento{
    border-left: 1px solid rgba(128, 128, 128, .2);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.card_data__mes{
    font-size: .8rem;
}

.card_data__diaMes{
    padding: .5rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.card_data__diaSemana{
    font-size: .8rem;
}